@model IEnumerable<FitnessApp.Models.Goal>

<h2>Goals</h2>
<p>
    @Html.ActionLink("Create New Goal", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var goal in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => goal.Name)</td>
                <td>@Html.DisplayFor(modelItem => goal.Description)</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = goal.GoalId }) |
                    @Html.ActionLink("Edit", "Edit", new { id = goal.GoalId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = goal.GoalId })
                </td>
            </tr>
        }
    </tbody>
</table>

